
<div class="search">
<form #form ="ngForm" (submit)="searchPlaceNow()">
  <input type="text" placeholder="Search Place" name="place" [(ngModel)]="placeName"/>
</form>

</div>


<div class="container" *ngIf="weatherDatainfo">
  <div class="upper-container">
    <img src="../assets/cold.jpg" *ngIf="weatherDatainfo.main.temp<59">
    <img src="../assets/hot.jpg" *ngIf="weatherDatainfo.main.temp>59">
    <div class="weather-data">
      <div class="location">{{weatherDatainfo.name}}</div>
      <div class="temparature">{{((weatherDatainfo.main.temp -32)*5/9) | number:'1.0-0'}}°C</div>
    </div>
  </div>
  <div class="lower-container">
    <div class="moreinfolabel">More info</div>
  </div>
  <div class="more-info-container">
    <div class="info-block">
      <div class="infoblocklabel">
        <img src="../assets/min.png" >
        <span>min</span>
      </div>
      <div class="info-block-value">
        {{((weatherDatainfo.main.feels_like -32)*5/9)  | number:'1.0-0'}}°C
      </div>
    </div>
    <div class="info-block">
      <div class="infoblocklabel">
        <img src="../assets/max.png" >
        <span>max</span>
      </div>
      <div class="info-block-value">
        {{((weatherDatainfo.main.temp_max-32)*5/9)  | number:'1.0-0'}}°C

      </div>
    </div>   <div class="info-block">
      <div class="infoblocklabel">
        <img src="../assets/humid.png" >
        <span>humid</span>
      </div>
      <div class="info-block-value">
        {{weatherDatainfo.main.humidity}}%

      </div>
    </div>   <div class="info-block">
      <div class="infoblocklabel">
        <img src="../assets/wind.png" >
        <span>wind</span>
      </div>
      <div class="info-block-value">
        {{weatherDatainfo.wind.speed}}km/h
      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
